<%- include ('../partials/header') %>
<div class="container">
    <h1 class="text-center text-white my-3">Edit</h1>
    <form action="/campgrounds/<%=campground_id%>/comments/<%=comment.id%>?_method=PUT" class="text-center" style="width: 400px; margin:0 auto" method="POST" >
        <div class="form-group">
            <textarea name="comment[text]" class="form-control" type="text" value="<%=comment.text %>"></textarea>
        </div>
	<div class="form-group">
            <button class="btn btn-lg btn-success" type="submit">Submit</button>
        </div>
        <a class="btn btn-warning" href="/campgrounds">Go Back</a>
    </form>
</div>
