<%- include ('partials/header') %>
<style>
 #content{
     min-height: 100vh;
     margin: 10rem ;
 }
 #brand{
     font-size: 4rem;
     margin: 5rem 0;
 }

 #camp-link{
     text-decoration: none; 
     color:skyblue;
     font-family: monaco;
     font-weight: 400;
     font-size: 1.5rem; 
 }
</style>
<div id="content" class="container text-center">
        <h1 class="text-white" id="brand">Welcome to Yelp Camp</h1>
        <a class="btn btn-success" id="camp-link" href="/campgrounds">View All Campgrounds</a>
</div>
<%- include ('partials/footer') %>
