<%- include ('partials/header') %>
 #content{
     min-height: 100vh;
     margin: 10rem ;
 }
 #brand{
     font-size: 4rem;
     margin: 5rem 0;
 }

 #camp-link{
     /* text-decoration: none; */
     color:skyblue;
     font-size: 2.5rem; 
 }
</style>
<div id="content" class="container text-center">
        <h1 id="brand">Welcome to Yelp Camp</h1>
        <a id="camp-link" href="/campgrounds">View all campgrounds</a>
</div>
<%- include ('partials/footer') %>
