<%- include ('../partials/header') %>
<div class="container">
    <h1 class="text-center mt-5 mb-3 text-warning">Create a new Campround</h1>
    <form action="/campgrounds" class="text-center" style="width: 400px; margin:0 auto" method="POST" >
        <div class="form-group">
            <input name="campName" class="form-control" placeholder="Camp name" type="text" value=""/>
        </div>
        <div class="form-group">
            <input name="campUrl" class="form-control" type="text" placeholder="Image url" value=""/>
        </div>
        <div class="form-group">
            <input name="description" class="form-control" type="text" placeholder="Camp Description" value=""/>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-success" type="submit">Submit</button>
        </div>
        <a class="text-center" href="/campgrounds">Go Back</a>
    </form>
</div>
<%- include ('../partials/footer.ejs') %>