body{
 background-image: url('https://media.gettyimages.com/photos/-picture-id1181837190?s=2048x2048');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: cover;
            
}


